<%- include("header") -%>

<%- include("navbar") -%>

  <div class="container">
    <h1 id="heading"><%= listTitle %></h1>
  </div>

  <div class="container">
  <% listItems.forEach(item => { %>
      <div class="row item">
        <div class="col-lg-4 col-sm-6">
          <p><%=item.date.toLocaleDateString("en-US", {weekday: 'long', month: 'long', day: 'numeric', year: 'numeric'})%></p>
        </div>
        <div class="col-lg-8 col-sm-6">
          <p><%=item.taskName%></p>
        </div>
      </div>
  <% }) %>
  </div>

<%- include("footer") -%>
