<%- include("partials/header") -%>

<%- include("partials/navbar") -%>

<div class="container">
  <div class="pickDate">
    <div class="headingBox">
      <a class="btn navButton" href="/calendar/<%= headerValues.previousYear %>"><i class="fas fa-chevron-left"></i></a>
      <h1 id="heading"><%= headerValues.currentYear %></h1>
      <a class="btn navButton" href="/calendar/<%= headerValues.nextYear %>"><i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
  <div class="calendarMonthBox text-center">
    <div class="monthBox">
      <a class="calDay" href="/calendar/<%= headerValues.currentYear %>/01">January</a>

    </div>
    <div class="monthBox">
      <a class="calDay" href="/calendar/<%= headerValues.currentYear %>/02">February</a>

    </div>
    <div class="monthBox">
      <a class="calDay" href="/calendar/<%= headerValues.currentYear %>/03">March</a>

    </div>
    <div class="monthBox">
      <a class="calDay" href="/calendar/<%= headerValues.currentYear %>/04">April</a>

    </div>
    <div class="monthBox">
      <a class="calDay" href="/calendar/<%= headerValues.currentYear %>/05">May</a>

    </div>
    <div class="monthBox">
      <a class="calDay" href="/calendar/<%= headerValues.currentYear %>/06">June</a>

    </div>
    <div class="monthBox">
      <a class="calDay" href="/calendar/<%= headerValues.currentYear %>/07">July</a>

    </div>
    <div class="monthBox">
      <a class="calDay" href="/calendar/<%= headerValues.currentYear %>/08">August</a>

    </div>
    <div class="monthBox">
      <a class="calDay" href="/calendar/<%= headerValues.currentYear %>/09">September</a>

    </div>
    <div class="monthBox">
      <a class="calDay" href="/calendar/<%= headerValues.currentYear %>/10">October</a>

    </div>
    <div class="monthBox">
      <a class="calDay" href="/calendar/<%= headerValues.currentYear %>/11">November</a>

    </div>
    <div class="monthBox">
      <a class="calDay" href="/calendar/<%= headerValues.currentYear %>/12">December</a>

    </div>
  </div>

</div>

<%- include("partials/footer") -%>
